html {
    scroll-behavior: smooth;
}


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #000000, #040024, #000000);
    justify-content: center;
}

/*DESKTOP*/

/*Barra de navegacion*/

.barra-navegacion {
    position: fixed;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    background: linear-gradient(#111, #111) padding-box,
        linear-gradient(90deg, #8905d6, #3333ff) border-box;
    box-shadow: 0 0 1px rgba(104, 2, 145, 0.6), 0 0 30px rgba(51, 51, 255, 0.5);

}

.barra-navegacion div {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #a74cdb, #595be6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.barra-navegacion-icono {
    gap: 10px;

}

.barra-navegacion-varios {
    gap: 40px;
}

.barra-navegacion-contacto {
    margin-right: 20px;
}

#icono-campus {
    width: 55px;
    margin-left: 5PX;
}

.botones-nav:hover {
    background: linear-gradient(90deg, #d4b4e7, #d4d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*Cuerpo*/

.cuerpo {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

/*Inicio*/

.inicio {scroll-margin-top: 100px;
    width: 70%;
    height: auto;
    display: inline-flex;
    text-align: center;
    margin-top: 100px;
    padding: 7%;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-radius: 40px;
    background: linear-gradient(#111, #111) padding-box,
        linear-gradient(90deg, #8905d6, #3333ff) border-box;
    box-shadow: 0 0 1px rgba(104, 2, 145, 0.6), 0 0 30px rgba(51, 51, 255, 0.5);
    color: white;

    margin-bottom: 100px;
}

.presentacion {
    width: 50%;
    text-align: start;
    height: auto;
    font-size: clamp(1rem, 2vw, 2rem);
}

.imagen {
    display: flex;
    width: 50%;
    border-radius: 45px;
    align-items: center;
    justify-content: end;
}

#foto-edgar {
    width: 80%;
    border-radius: 30px;
}

/*Sobre Mi*/

.sobre-mi {scroll-margin-top: 100px;
    font-size: clamp(1rem, 2vw, 2rem);
    width: 85%;
    height: auto;
    display: inline-flex;
    box-sizing: border-box;
    gap: 7%;
}

.sobre-mi>div {
    box-sizing: border-box;
    width: 33%;
    padding: 3%;
    align-items: center;
    word-wrap: break-word;
}

.sub-titulos {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    text-align: center;
    justify-content: center;
}

.informacion-icono {
    width: 90px;
}

.habilidades {
    text-align: center;
}

.habilidades ul {
    list-style: none;
    padding-left: 0;
}

.idiomas {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.idiomas>div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#nivel-ingles,
#nivel-español {
    width: 100%;
}

#español,
#ingles {
    width: 100%;
}

.logo-lenguaje {
    width: 20px;
}

.habilidades ul li {
    justify-content: center;
    display: flex;
    gap: 5px;
    align-items: center;
    gap: 5px;
    margin: 5px
}

#barras-idiomas {
    margin-top: 30px;
}

.formacion {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*Proyectos*/
.proyectos {scroll-margin-top: 100px;
    display: block;
    text-align: center;
    width: 70%;
    height: auto;
    box-sizing: border-box;
}

.slide-item img {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.slide-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -2;
    width: 100%;

}

.slide-inner {
    position: relative;
    width: 100%;
    height: auto;
}
.parrafo-proyecto{margin-bottom: 100px;}

#slide-1:checked ~ .slide-inner .slide-1,
#slide-2:checked ~ .slide-inner .slide-2,
#slide-3:checked ~ .slide-inner .slide-3,
#slide-4:checked ~ .slide-inner .slide-4 {
    opacity: 1;
    z-index: 1;}